@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}
<div class="page-content">
    <div class="container">
        <div class="col-md-12 ml-5 mt-4">
            <div class="row">
                <div class="col-md-4">
                    <a href="#" class="btn btn-outline-primary btn-round">Teslimat</a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="btn btn-outline-primary btn-round">Ödeme</a>
                </div>
                <div class="col-md-4">
                    <a href="#" class="btn btn-outline-primary btn-round">Özet</a>
                </div>
            </div>
        </div>

        <div class="row mt-4">
            <div class=col-md-8>
                @await Component.InvokeAsync("Address")
            </div>
            <div class="col-md-4">
                <div class="summary summary-cart">
                    <h3 class="summary-title">Sepet</h3><!-- End .summary-title -->

                    <table class="table table-summary">
                        <tbody>
                            <tr class="summary-subtotal">
                                <td>Ara Toplam:</td>
                                <td>toplam TL</td>
                            </tr><!-- End .summary-subtotal -->
                            <tr class="summary-shipping">
                                <td>Kargo:</td>
                                <td>&nbsp;</td>
                            </tr>

                            <tr class="summary-shipping-row">
                                <td>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="free-shipping" name="shipping" class="custom-control-input">
                                        <label class="custom-control-label" for="free-shipping">Bedava Kargo</label>
                                    </div><!-- End .custom-control -->
                                </td>
                                <td>$0.00</td>
                            </tr><!-- End .summary-shipping-row -->

                            <tr class="summary-shipping-row">
                                <td>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="standart-shipping" name="shipping" class="custom-control-input">
                                        <label class="custom-control-label" for="standart-shipping">Standart:</label>
                                    </div><!-- End .custom-control -->
                                </td>
                                <td>$10.00</td>
                            </tr><!-- End .summary-shipping-row -->

                            <tr class="summary-shipping-row">
                                <td>
                                    <div class="custom-control custom-radio">
                                        <input type="radio" id="express-shipping" name="shipping" class="custom-control-input">
                                        <label class="custom-control-label" for="express-shipping">Express:</label>
                                    </div><!-- End .custom-control -->
                                </td>
                                <td>$20.00</td>
                            </tr><!-- End .summary-shipping-row -->



                            <tr class="summary-total">
                                <td>Toplam:</td>
                                <td>111 TL</td>
                            </tr><!-- End .summary-total -->
                        </tbody>
                    </table><!-- End .table table-summary -->

                    <a href="checkout.html" class="btn btn-outline-primary-2 btn-order btn-block">ÖDEME ADIMINA GEÇ</a>
                </div><!-- End .summary -->
            </div>
        </div>
    </div>
</div>

<script>
    $( document ).ready(function() {
        $.each($("[Name='carddashboard']"), function( index, value ) {
            let id = value.children[0].children[0].children[1].children[5].id;

         value.children[0].children[0].children[0].innerHTML+="<input type='radio' name='adres' value='"+id+"'>";
         console.log(value.children[0].children[0].children[0]);
        });

    });
    //$("[Name='carddashboard']").click((e)=>{

    //   e.target.children[0].innerHTML+='<i class="fa-solid fa-check fa-2x" style="color:#15A962"></i>';
    //})
</script>
