
<div class="col-md-12 mt-2">
    <input  type="text" class="form-control" placeholder="Siparişlerimde Ara"/>
</div>
<div class="col-md-12">
    <div class="accordion accordion-rounded" id="accordion-5">
        <div class="card card-box card-sm bg-light">
            <div class="card-header" id="heading5-1">
                <h2 class="card-title">
                    <a role="button" data-toggle="collapse" href="#collapse5-1" aria-expanded="true" aria-controls="collapse5-1">
                        <div class="row">
                            <div class="col-md-2"><img style="border-radius: 60%; height:50px" src="https://productimages.hepsiburada.net/s/157/120/110000113579967.jpg" /></div>
                            <div class="col-md-4">Sipariş No 123 456 789<br /> <small>13 Mart 2022</small> </div>
                            <div class="col-md-4"><i class="fa-solid fa-circle-check" style="color:#5ad363"></i> Sipariş Tamamlandı</div>
                            <div class="col-md-2">20TL <br /> <small>Kredi Kartı</small></div>

                        </div>


                    </a>
                </h2>
            </div><!-- End .card-header -->
            <div id="collapse5-1" class="collapse show" aria-labelledby="heading5-1" data-parent="#accordion-5">
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">Ürün görseli</div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">Ürün Adı</div>
                                <div class="col-md-12">Satıcı:Ulas Express</div>
                                <div class="col-md-12">20 TL</div>
                                <div class="col-md-12"><i class="fa-solid fa-comments"></i> Ürünü değerlendir</div>
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="row">
                                <div class="col-md-12">
                                    <i class="fa-solid fa-box fa-2x" style="border-radius: 40%; "></i> Teslim Edildi
                                    <br />
                                    <small>Teslim tarihi: 17 Mart 2022</small>
                                    <hr />
                                    <div class="row">
                                        <div class="col-md-6">
                                            <i class="fa-solid fa-box fa-2x"></i> Kargo Takibi
                                        </div>
                                        <div class="col-md-6">
                                            <i class="fa-solid fa-file-invoice fa-2x"></i> Faturayı Görüntüle
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                </div><!-- End .card-body -->
            </div><!-- End .collapse -->
        </div><!-- End .card -->


    </div><!-- End .accordion -->
</div><!-- End .col-md-6 -->
